$index-bg: #865858;
$bg-color: #beded8c9;

body {
  margin: 0;
}

.QuestionArea {
  background: $bg-color;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.results {
  display: flex;
  flex-direction: row-reverse;
}
.amcharts-amexport-item.amcharts-amexport-item-level-0.amcharts-amexport-item-blank {
  margin: 0px 30px 0px 30px;
  padding: 20px;
  width: 100px;
  height: 60px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  background: #46457de3;
  color: white;
  transition: all 100ms ease-out;
  outline: none;
  cursor: pointer;
}
